<nav aria-label="main navigation" class="navbar has-shadow is-link" role="navigation">
    <div class="navbar-brand">
        <a [routerLink]="['/home']" class="navbar-item">Oficina do Marcelo</a>

        <a class="navbar-burger" data-target="navbarBasicExample" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">

            <a [routerLink]="['/home']" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-home">
                        </i>
                    </span>
                    <span id="inicio">Início</span>
                </span>
            </a>

        </div>
    </div>
</nav>
