<div class="container">
    <div class="columns">
        <div class="column is-2">
            <app-left-menu-component></app-left-menu-component>
        </div>
        <div class="column is-10">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <nav class="breadcrumb" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="#">Início</a></li>
                                    <li><a href="#">Cadastros</a></li>
                                    <li class="is-active"><a href="#" aria-current="page">Clientes</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-success">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus">
                                            </i>
                                        </span>
                                        <span>Novo</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="table-container">
                <table class="table is-hoverable is-striped is-fullwidth ">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Data Cadastro</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Cliente 1</td>
                            <td>(11) 99999-9999</td>
                            <td>01/01/2024</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-small is-info">
                                        <span class="icon">
                                            <i class="fa-solid fa-pen-to-square">
                                            </i>
                                        </span>
                                    </button>
                                    <button class="button is-small is-danger">
                                        <span class="icon">
                                            <i class="fa-solid fa-trash">
                                            </i>
                                        </span>
                                    </button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Cliente 2</td>
                            <td>(21) 98888-8888</td>
                            <td>02/02/2024</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-small is-info">
                                        <span class="icon">
                                            <i class="fa-solid fa-pen-to-square">
                                            </i>
                                        </span>
                                    </button>
                                    <button class="button is-small is-danger">
                                        <span class="icon">
                                            <i class="fa-solid fa-trash">
                                            </i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cliente 3</td>
                            <td>(31) 97777-7777</td>
                            <td>03/03/2024</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-small is-info">
                                        <span class="icon">
                                            <i class="fa-solid fa-pen-to-square">
                                            </i>
                                        </span>
                                    </button>
                                    <button class="button is-small is-danger">
                                        <span class="icon">
                                            <i class="fa-solid fa-trash">
                                            </i>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
