<div class="container">
    <div class="columns">

        <div class="column is-10">

            <nav aria-label="main navigation" class="navbar" role="navigation">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <nav aria-label="breadcrumbs" class="breadcrumb">
                                <ul>
                                    <li class="is-active"><a>Início</a></li>
                                    <li class="is-active"><a>Cadastros</a></li>
                                    <li class="is-active"><a>Clientes</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-success">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus">
                                            </i>
                                        </span>
                                        <span>Novo</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>


        </div>
    </div>
</div>
